
<!-- Start Search Popup -->
<div class="search-box">
  <form class="minisearch" action="#">
      <div class="search-area">
          <input type="text" placeholder="Search Our Catalog">
          <div class="action">
              <a href="#">
                  <i class="fa fa-search"></i>
              </a>
          </div>
      </div>
  </form>
  <div class="close-btn">
      <span>close</span>
  </div>
</div>
<!-- End Search Popup -->

<!-- Scroll to top start -->
<div class="scroll-top not-visible">
  <i class="fa fa-angle-up"></i>
</div>
<!-- Scroll to Top End -->


<script type="text/javascript" src="/dist/assets/packages/bootstrap/jquery.js"></script>
<script type="text/javascript" src="/dist/assets/packages/bootstrap/popper.js"></script>
<script type="text/javascript" src="/dist/assets/packages/bootstrap/bootstrap.js"></script>
<script type="text/javascript" src="/dist/assets/packages/owl-carousel/owl.carousel.js"></script>
<script type="text/javascript" src="/dist/assets/packages/nice-select/nice-select.js"></script>
<script type="text/javascript" src="/dist/assets/packages/cloudzoom/cloudzoom.js"></script>
<script type="text/javascript" src="/dist/assets/js/theme.js"></script>

<script type="text/javascript" src="/dist/venus-ui.js"></script>
<script type="text/javascript" src="/dist/assets/packages/owl-carousel/owl.carousel.js"></script>
<script type="text/javascript" src="/dist/assets/js/theme.js"></script>
</body>

</html>