/*===============google fonts===============*/
@import url("https://fonts.googleapis.com/css?family=Kaushan+Script");

:root{
    --mainPink: #ef7998;
    --mainWhite: #fff;
    --mainBlack: #000;
    --mainGray: rgb(238, 238, 238);
    --mainYellow: rgb(249, 214, 148);
    --yellowTrans: rgb(249, 214, 148, 0.5);

}
body{
    font-family: 'Kaushan Script', cursive;
    background: var(--mainWhite);
    color: var(--mainBlack);
}
/*============global styles=============*/
.bg-pink{
    background: var(--mainPink);
}
.text-pink{
    color: var(--mainPink);
}
.bg-gray{
    background: var(--mainGray)
}
.btn-pink{
    color: var(--mainPink) !important;
    border-color: var(--mainPink) !important;
}
.btn-pink:hover{
    color: var(--mainBlack) !important;
    background: var(--mainPink) !important;
}
.btn-black{
    color: var(--mainBlack) !important;
    border-color: var(--mainBlack) !important;
}
.btn-black:hover{
    color: var(--mainPink) !important;
    background: var(--mainBlack) !important;
}
.border-radius-1{
    border-radius: 1rem;
}
/*============end of global styles=============*/
/*============navbar style=============*/
.navbar-toggler{
    outline: none !important;
}
.toggler-icon{
    font-size: 2.5rem;
    color: var(--mainPink);
}
.nav-link{
    color: var(--mainPink);
    transition: all 1s ease-in-out;
    font-size: 1.5rem;
}
.nav-link:hover{
    color: var(--mainBlack);
}
/*============end of navbar style==============*/
/*============cart style============*/
.cart-info{
    border: 0.1rem solid var(--mainBlack);
    border-radius: 0.25rem;
    color: var(--mainBlack);
    padding: 0.4rem 0.6rem;
    cursor: pointer;
    position: relative;
}
.cart-info:hover{
    border-color: var(--mainPink);
    background-color: var(--mainPink);
    color: var(--mainWhite);
}
.cart-info_icon{
    color: var(--mainBlack);
    cursor: pointer;
}
.cart-info:hover .cart-info_icon{
    color: var(--mainWhite);
}
/*===========end of cart style==============*/
/*===========banner==============*/
.max-height-1{
    min-height: calc(100vh - 76px);
    background: linear-gradient(var(--yellowTrans), var(--yellowTrans)), url(../images/headerBcg-01.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    position: relative;
}
.max-height-2{
    min-height: calc(100vh - 76px);
    background: linear-gradient(var(--yellowTrans), var(--yellowTrans)), url(../images/headerBcg-02.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    position: relative;
}
.max-height-3{
    min-height: calc(100vh - 76px);
    background: linear-gradient(var(--yellowTrans), var(--yellowTrans)), url(../images/headerBcg-03.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    position: relative;
}
.carousel-indicators li{
    width: 0.8rem;
    height: 0.8rem;
    background-color: var(--mainPink);
    border-radius: 50%;
    margin: 0.4rem;
}
.banner{
    color: var(--mainWhite);
    padding: 12rem 0;
}
.banner-title{
    color: var(--mainPink);
    font-size: 4rem;
}
.banner-link{
    color: var(--mainBlack);
    border: 0.2rem solid var(--mainBlack);
    font-size: 1.5rem;
}
.banner-link:hover{
    background: var(--mainBlack);
    color: var(--mainPink);
}
@media (min-width: 320px) and (max-width: 575px) {
    .max-height-1, .max-height-2, .max-height-3 {
        min-height: calc(20vh);
        max-width: 100%;
    }
    .banner {
        padding: 10rem 0;
    }
    h1{
        font-size: 1rem;
    }
    .banner-title{
        font-size: 2rem !important;
    }
    .banner-link {
        font-size: 0.8rem;
    }
}
@media (min-width: 576px) and (max-width: 767px) {
    h1{
        font-size: 1.5rem;
    }
    .banner-title{
        font-size: 2.5rem !important;
    }
    .banner-link {
        font-size: 1rem;
    }
    .banner {
        padding: 9rem 0;
    }
    .max-height-1, .max-height-2, .max-height-3 {
        min-height: calc(50vh);
        max-width: 100%;
    }
    .carousel-indicators li{
        width: 0.5rem;
        height: 0.5rem;
        margin: 0.3rem;
    }

}
@media (min-width: 768px) and (max-width: 991px) {
    .max-height-1, .max-height-2, .max-height-3 {
        min-height: calc(60vh);
        max-width: 100%;
    }
    .banner {
        padding: 13rem 0;
    }
}
@media (min-width: 992px) and (max-width: 1200px) {
    .max-height-1, .max-height-2, .max-height-3 {
        min-height: calc(70vh);
        max-width: 100%;
    }
    .banner {
        padding: 24rem 0;
    }
}

/*==============end of banner============*/

/*==============cart==============*/
.cart{
    position: absolute;
    background: rgba(255, 255, 255, 0.4);
    color: var(--mainBlack);
    min-height: 10rem;
    top: 56px;
    right: -88px;
    transition: all 0.3s ease-in-out;
    width: 0;
    overflow: hidden;
    z-index: 1;
}
.show-cart{
    width: 18rem;
    padding: 2rem 1.5rem;
    transform: rotateY(-360deg);
}
.form-cart{
	padding: 2rem 3rem;
	background: var(--mainGray);
	border-radius: 0.5rem;
}
.cart-item{
    transition: all 2s ease-in-out;
}
.cart-item-remove{
    color: var(--mainPink);
    transition: all 1s ease-in-out;
}
.cart-item-remove:hover{
    transform: scale(1.1);
    color: var(--mainBlack);
}
.cart-item-price{
    font-size: 0.8rem;
}
#sm-cart{
    display: none;
}

@media only screen and (max-width: 991px) {
    #sm-cart{
        display: block !important;
    }
}
@media only screen and (max-width: 400px) {
    .form-cart{
        padding: 1rem 2rem;
    }
    .form-cart .cart-button-container .btn{
        padding: 0.6rem;
        font-size: 0.8rem;
    }
}


/*============end of cart=============*/
/*============about===========*/
.about-image{
    position: relative;
}
.about-image::before{
    content: '';
    position: absolute;
    top: -1.5rem;
    left: -1.7rem;
    width: 100%;
    height: 100%;
    outline: 0.5rem solid var(--mainPink);
    z-index: -1;
    transition: all 1s linear;
}
.about-image:hover::before{
    top: 0;
    left: 0;
}
.service-hour{
    color: var(--mainBlack);
    font-size: 0.9rem;
    padding-bottom: 0.8rem;
}

/*=============end of about============*/
/*===========store===========*/
.search-box{
    background: var(--mainPink);
    color: var(--mainBlack);
}
.single-item{
    transition: all 0.3 linear;
}
.single-item:hover{
    box-shadow: 0 10px 15px rgb(0, 0, 0);
}
.img-container{
    position: relative;
    cursor: pointer;
    overflow: hidden;
}
.store-img{
    transition: all 1s ease-in-out;
}
.img-container:hover .store-img{
    transform: scale(1.2);
}
.store-item-icon{
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 0.75rem;
    background: var(--mainPink);
    border-top-left-radius: 1rem;
    transition: all 1s ease-in-out;
    transform: translate(100%, 100%);
}
.img-container:hover .store-item-icon{
    transform: translate(0, 0);
}
.store-item-icon:hover{
    color: var(--mainWhite);
}
/*============end of store============*/
/*============services============*/
.services{
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../images/servicesBcg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: var(--mainWhite);
}
.service-title{
    letter-spacing: 0.5rem;
}
.service-text{
    word-spacing: 0.5rem;
}
/*==========end of service==========*/
/*==========blog===========*/
.blog{
    font-size: 0.95rem;
}
.blog-img{
    position: relative;
    cursor: pointer;
    overflow: hidden;
}
.blog-image{
    transition: all 1s ease-in-out;
}
.blog-img:hover .blog-image{
    transform: scale(1.2);
}
.blog-text{
    position: absolute;
    bottom: 0;
    padding: 0.75rem;
    background: var(--mainPink);
    transition: all 1s ease-in-out;
    transform: translate(100%, 100%);
}
.blog-img:hover .blog-text{
    transform: translate(0, 0);
}
.blog a{
    color: var(--mainBlack);
}
.blog-ico .badge{
    text-transform: capitalize;
    font-size: 1rem;
    padding: 0.6rem;
    cursor: pointer;
    margin: 0.2rem;
}
.blog-ico .badge-primary{
    background: var(--mainPink);
    color: var(--mainBlack);
}
/*===========end of blog===========*/
/*===========contact===========*/
.contact{
    background: var(--mainBlack);
    color: #D7E1E1;
}
.contact-icon{
    font-size: 1.5rem;
    transition: all 0.3 ease-in-out;
    color: var(--mainPink);
}
.contact-icon:hover{
    color: var(--mainblack);
}
.contact .card{
    background: var(--mainBlack);
    border-radius: 0;
}
.contact .form-control{
    background: var(--mainBlack);
}
.contact h4{
    background: url(../images/h1_bg.png) left bottom repeat-x;
    padding: 0.7rem 0rem;
}
@media only screen and (max-width: 571px) {
    .map{
        padding: 0rem;
    }
} 
/*===========end of contact section===========*/
/*===========footer===========*/
.footer{
    background: var(--mainBlack);
    color: var(--mainWhite);
    background-image: url(../images/bottline_bg.png);
    background-repeat: no-repeat;
    background-position: top;
    font-size: 0.9rem;
}
/*============end of footer===========*/
/*============about-details.html page styles===========*/
.about-bcg{
    background: url(../images/banner.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 6rem 0rem;
}
.crumbs{
    position: relative;
}
.crumbs .breadcrumb-items{
    display: inline-block;
}
.crumbs .breadcrumb {
    margin-bottom: 0;
    border-radius: 0;
    padding: 0;
    background-color: transparent;
}
.crumbs .breadcrumb a{
    color: var(--mainBlack);
    text-transform: capitalize;
    font-size: 1rem;
}
.crumbs .breadcrumb a:hover{
    color: var(--mainPink);
    padding-bottom: 0.5rem;
    text-decoration: none;
    border-bottom: 3px solid var(--mainPink);
}
.team .card{
    margin: 1rem;
}
.contact-info{
    font-size: 0.9rem;
}
.review .svg-inline--fa.fa-w-18 {
    width: 0.9rem;
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: var(--mainPink)!important;
}
/*============end of about-details.html page styles===========*/
/*============blog.html page styles============*/
.blog-content p{
    word-spacing: 0.1rem;
    text-align: justify;
}
/*============end of blog.html page styles============*/